# сборка и личныя настройки Visual Studio
bin/
obj/
.vs/
*.user

# личное: здѣсь токенъ и адресъ осушителя
Сеня.txt

# чужое: утилита для полученія токена и значокъ Xiaomi (товарный знакъ)
token_extractor.exe
mi.ico
